body{
    background-color: black;
    color: white;
}


.caixa{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.caixaComFlex{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

.caixaComFlexWrap{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}

.caixaFlexStart{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
}

.caixaFlexEnd{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
}

.caixaSpaceBetween{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.caixaSpaceAround{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
}

.caixaCenter{
    width:400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.item{
    background-color: tomato;
    font-size: 32px;
    text-align: center;
    margin: 5px;
}

h1{
    text-align: center;
}